In [1]:
# import dependencies
import pandas as pd

In [2]:
# Create a data frame with given columns and value
hey_arnold = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
     })

hey_arnold

  Character_in_show  Football_Shaped_Head   Height color_of_hair
0            Arnold                  True  average        blonde
1            Gerald                 False  tallish         black
2             Helga                 False  tallish        blonde
3            Phoebe                 False    short         black
4            Harold                 False     tall       unknown
5            Eugene                 False    short           red

In [8]:
# Rename columns to clean up the look
hey_arnoldNew = hey_arnold.rename(columns={"Character_in_show":"Character Name","Football_Shaped_Head":"Football Head","color_of_hair":"Hair Color"})
hey_arnoldNew

  Character Name  Football Head   Height Hair Color
0         Arnold           True  average     blonde
1         Gerald          False  tallish      black
2          Helga          False  tallish     blonde
3         Phoebe          False    short      black
4         Harold          False     tall    unknown
5         Eugene          False    short        red

In [9]:
# Organize columns into a more logical order
hey_arnoldOrder = hey_arnoldNew[["Character Name","Height","Hair Color", "Football Head"]]
hey_arnoldOrder

  Character Name   Height Hair Color  Football Head
0         Arnold  average     blonde           True
1         Gerald  tallish      black          False
2          Helga  tallish     blonde          False
3         Phoebe    short      black          False
4         Harold     tall    unknown          False
5         Eugene    short        red          False

In [19]:
# Export new data
hey_arnoldOrder.to_csv("08-Stu_Hey_Arnold/Solved/Output/hey_arnold.csv")
#.to_csv("Output/fileOne.csv", index=False, header=True)

FileNotFoundError: [Errno 2] No such file or directory: '08-Stu_Hey_Arnold/Solved/Output/hey_arnold.csv'